.tracker {
  display: flex;
  padding: 10px 16px;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 120px);
  min-height: 106px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 10px;
  background: rgba(0, 0 ,0, 0.7);
  backdrop-filter: blur(10px);
  color: var(--white);
  z-index: 110;
  border: 3px solid #fff;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__name {
    text-align: left;
    max-width: 45vw;
    min-width: 200px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
  }

  &__button {
    background: var(--green);

    &:disabled {
      background: var(--red);
    }
  }

  &__time {
    font-size: 18px;
    height: 100%;
    justify-content: space-between;
  }

  &__overtime {
    width: max-content;
    font-weight: bold;
    color: var(--red);
  }

  &__control {
    width: max-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 20px;
  }

}

@media (max-width: 750px) {
  .tracker {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;

    &__name {
      margin-bottom: 10px;
    }

    &__time {
      margin-bottom: 10px;
    }

    &__control {
      gap: 10px;
      justify-items: left;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}