.trackCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 32px 24px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 5px 0 var(--black);
  background: var(--black);
  color: var(--white);
  transition: 0.3s;
  text-transform: uppercase;

  @media (max-width: 767px) {
    padding: 16px 12px 24px 12px;
    border-radius: 10px;
  }

  .typing-dots {
    margin-top: auto;
    margin-left: 3px;

    &__dot {
      background: var(--yellow);
    }
  }

  &__input input {
    padding: 10px 0;
    color: var(--white);
    margin-bottom: 4px;
  }

  &-open {
    background: var(--purple);
    padding-bottom: 90px;

    @media (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .trackCard__input input {
      padding: 10px;
    }

    .trackCard__input input:disabled {
      padding: 10px 0;
    }

    .trackCard__controlPanel {
      opacity: 1;

      .main-button {
        border: 1px solid var(--white);
      }
    }
  }

  &__delete-btn {
    background: var(--red);
  }

  &__controlPanel {
    position: absolute;
    padding: 10px 24px;
    border-top: 1px solid var(--white);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    bottom: 0;
    opacity: 0;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__isTracked {
    position: absolute;
    right: 4px;
    top: 4px;
    width: max-content;
    color: var(--red);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80%;
    background: var(--black);
    padding: 10px;
    border-radius: 24px;

    @media (max-width: 767px) {
      border-radius: 10px;
    }

    &::before {
      content: '';
      margin-right: 4px;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      display: inline-block;
      background: var(--red);
    }

    &--active {
      color: var(--yellow);

      &::before {
        background: var(--yellow);
      }
    }
  }

  &__complete {
    position: absolute;
    right: 4px;
    top: 4px;
    height: max-content;
    color: var(--green);

    &::before {
      background: var(--green);
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);

    .trackCard__control {
      transform: translate(-10%, 10%);
    }
  }

  &__content {
    width: 100%;
    margin-top: 12px;
  }

  &__title {
    font-weight: bold;
    width: 100%;

    input {
      font-size: 24px;
    }
  }

  &__description {
    width: 100%;

    input {
      font-size: 16px;
    }
  }

  &__control {
    display: flex;
    right: 0;
    top: 0;
    position: absolute;
    transform: translate(100%, 0);
    transition: 0.3s;
  }

  &__tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &-item {
      background: var(--red);

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
