.main-button {
  width: max-content;
  padding: 15px 30px;
  background: var(--black);
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.25s;
  user-select: none;
  position: relative;

  svg {
    max-width: 18px;
    min-width: 18px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &:active {
    transform: scale(1);
  }

  &:disabled &:hover {
    transform: scale(1);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  @media (max-width: 767px) {
    &:hover {
      transform: scale(1);
    }
  }
}
