.header {
  position: fixed;
  width: 100px;
  height: 100vh;
  padding: 10px;
  background: var(--black);
  transition: .3s;
  z-index: 109;

  &__burger {
    width: 50%;
    padding: 3px;
    left: 5px;
    top: 5px;
    display: none;
    backdrop-filter: blur(10px);
    background: var(--black25);
    border-radius: 10px;
    position: absolute;
    transform: translate(240%);
    justify-items: end;
    border: 2px solid var(--white);

    @media (max-width: 767px) {
      display: flex;
    }

    svg {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      stroke: var(--white);
    }
  }

  @media (max-width: 767px) {
    transform: translate(-120%);

    &--active {
      z-index: 111;
      transform: translate(0%);
    }
  }

  &__link {
    width: 100%;
    height: max-content;
    position: relative;
    display: flex;
    align-items: center;
    transition: all .3s;

    &:hover span {
      opacity: 1;
      left: 50%;
      transform: translate(60px, 0);
    }

    span {
      width: max-content;
      transition: all .3s;
      opacity: 0;
      z-index: -1;
      font-weight: bold;
      border-radius: 10px;
      background: var(--black25);
      color: var(--white);
      position: absolute;
      padding: 15px 5px;
    }

    div {
      z-index: 100;
    }

    svg {
      max-width: 80px;
      background: var(--black);
      z-index: 100;
      position: relative;
      fill: var(--white);
      width: 100%;
      height: max-content;
    }
  }


  &__logo {
    width: 100%;
    height: auto;
    transition: 0.3s;
    display: block;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--white);
    }


    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}


